*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
main{
    flex-grow: 1;
     justify-content: center;
  align-items: flex-end;
}

body{
    background-color: #cca280;
}

header{
    background-color:  #eceae8;
    height: 100px;
    padding: 10px 50px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer {
  background-color: #eeebe9;
  text-align: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.foto-inicial {
    width: 100vw;
}


.centered-img {
    height: calc(100vh - 119px);
}

.conteudo{
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: #f1ebe6;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  padding-bottom: 120px;
}

.button {
  background-color:#d3bead;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  width: 140px;
  height: 60px;

}

.cardapio-pagina {
    padding: 40px;
    background-color: #f9f3ef;
    text-align: center;
}

.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 220px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    font-weight: bold;
    color: #5a4636;
}