{% extends 'layout.html' %}
{% block title %}Criar um cardápio{% endblock %}
{% block content %}

<form action="{{ url_for('cardapio') }}" method="POST" class="formulario">
    <h2>Coloque suas Restrições:</h2>

    <label><input type="checkbox" name="restricoes" value="Vegetariano"> Vegetariano</label><br>
    <label><input type="checkbox" name="restricoes" value="Vegano"> Vegano</label><br>
    <label><input type="checkbox" name="restricoes" value="Leite"> Leite</label><br>
    <label><input type="checkbox" name="restricoes" value="Gluten"> Glúten</label><br><br>

    <button type="submit" class="button">Ver Cardápio</button>
</form>

{% endblock %}